---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, '');
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === '/' + (subpath?.[0] || '');

const baseClasses =
	'rounded-md px-3 py-2 text-sm font-medium text-foreground/80 transition hover:bg-primary-100 hover:text-primary-800';
const activeClasses = 'bg-primary-100 text-primary-900';
---

<a href={href} class:list={[baseClasses, className, isActive && activeClasses]} {...props}>
	<slot />
</a>
